.wrapper {
    padding: 80px 0;
    background: var(----essential);
    background: linear-gradient(0deg, rgba(253, 187, 45, 1), rgba(188, 34, 195, 1) 0%, 100%);
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid rgba(253, 187, 45, 1);
    border-radius: 10px;
    padding: 20px;
}

.tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    margin-bottom: 20px;
}

.element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 10px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(253, 187, 45, 1);
    }
}
