:root {
    --yellow: #FCBA04;
    --common: #1F271B;
    --essential: #fff;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, 'Open Sans Condensed', 'Passion One', sans-serif;
    color: var(--common);
    background-color: #E7FFF4;
}

a {
    color: inherit;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}
